html,
body {
    height: 100%;
    background-color: #F7F7F4;
}

body{
    margin: 0 auto;
}

/* Hack to adjust the top navbar to overlap the content 
@media (min-width: 980px) {
  body {
    padding-bottom: 42px;
  }
}*/

#content {
    background-color: #F7F7F4;
}

#sidebar {
    background: #20272d;
    /*height: 100%;
    height: 100vh;*/
    margin-bottom: -5000px;
    padding-bottom: 5000px;
}

#sidebar .panel {
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sidebar .panel-default {
    border: none;
    clear: both;
}

#sidebar .panel .panel-heading {
    color: #eee;
    background-color: transparent;
    border: none;
    padding: 17px 15px;
}

#sidebar .panel .panel-heading h3 {
    float: left;
}

#sidebar .panel .panel-heading button#toggle-menu {
    float: right;
}

#sidebar .kv-sidenav li {
    cursor: pointer;
}

#sidebar .kv-sidenav li a {
    border: none;
    color: #ddd;
    cursor: pointer;
}

#sidebar .kv-sidenav li a:hover,
#sidebar .kv-sidenav li a:focus {
    background-color: #191e23;
}

#sidebar a.user-menu {
    color: #ddd;
    padding: 10px 15px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    display: block;
}

#sidebar a.user-menu:hover,
#sidebar a.user-menu:focus {
    background-color: #191e23;
}

#sidebar .panel-body {
    padding: 0;
}

#sidebar #toggle-menu {
    float: right;
    cursor: pointer;
    padding: 0 15px;
    display: none;
}

@media screen and (max-width: 991px) {
    #sidebar #toggle-menu {
        display: block;
    }

    #sidebar #sidenav {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    #sidebar #sidenav {
        display: block !important;
    }
}

/*ul.nav.nav-pills.nav-stacked.kv-sidenav {
    border-bottom: 1px solid #404040;
    padding-bottom: 15px;
}*/

#sidebar .border-top {
    border-top: 1px solid #404040;
}

.no-padding {
    padding-right: 0px;
    padding-left: 0px;
}

h1.view-title {
    font-size: 18px;
    margin: 0px;
    padding: 7px;
    float: left;
}

.row-header {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    margin-bottom: 35px;
    padding: 10px 0px;
}

.table-bordered {
    background: #fff;
}

.stats-block {
    background-color: #fff;
    width: 100%; 
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.stats-block-link-selected .stats-block,
.stats-block:hover {
    border: 1px solid #337ab7;
}

.stats-block-left {
    width: 100px;
    height: 100%;
    float: left;
}

.stats-block-right {
    width: auto;
    height: 100%;
    float: left;
    padding: 15px;
}

.stats-block-green {
    background-color: #93c47d;
}

.stats-block-orange {
    background-color: #f6b26b;
}

.stats-block-red {
    background-color: #e06666;
}

.stats-block-img {
    width: 100%;
    height: auto;
}

.stats-block-value {
    color: #222222;
    font-size: 2em;
    font-weight: bold;
    margin: 0;
}

.stats-block-title {
    color: #666666;
    margin: 0;
}


.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    overflow: hidden;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: relative;
    z-index: 99;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.white, .white a {
  color: #fff;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

div#div-chartw0 {
    border: 1px solid #ddd;
}

select.my_select {
    background: #fff;
    padding: 5px 35px 5px 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/icons/down_arrow.png) 96% / 15% no-repeat #fff;
    background-size: 15px 15px;
} 

.select-node-form form {
    margin-bottom: 0px;
}


.select-node-form .btn-group {
    width: 100%;
} 

.select-node-form button {
    width: 100%;
    text-align: left;
}

.select-node-form .btn-group .btn .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -2px;
    vertical-align: middle;
}

.login-wrapper {
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    margin-top: 50px;
}

.login-title {
    text-align: center;
    padding: 10px 40px;
    background-color: #ec971f;
}

.login-title h1 {
    color: #fff;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.login-form {
    padding: 40px;
}

.card {
    background: #fff;
    display: block;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,.04);
    margin-bottom: 20px;
    padding: 30px 35px;
    border: 1px solid #EEE;
    -webkit-transition: .2s all ease-in;
    transition: .2s all ease-in;
}

.card-chart {
    padding: 0px;
    margin-bottom: 40px;
}

.side-titles {
    padding-left: 30px;
}

.side-titles h2 {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 8px;
}

.side-titles .subtitle {
    line-height: 20px;
    margin-top: 7px;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    color: #8d939a;
}